absl-py==0.8.1
altgraph==0.10.2
ansible==2.9.2
asn1crypto==0.24.0
astor==0.8.1
astroid==1.6.6
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.2
backports.weakref==1.0.post1
bdist-mpkg==0.5.0
beautifulsoup4==4.8.0
bonjour-py==0.3
bs4==0.0.1
cachetools==3.1.1
cairocffi==0.9.0
certifi==2019.6.16
cffi==1.13.2
chardet==3.0.4
check50==2.2.8
Click==7.0
configparser==4.0.2
cPython==0.0.5
cryptography==2.8
cssselect2==0.2.2
enum34==1.1.6
Flask==1.1.1
Flask-Session==0.3.1
funcsigs==1.0.2
functools32==3.2.3.post2
future==0.17.1
futures==3.3.0
gast==0.2.2
google-auth==1.8.2
google-auth-oauthlib==0.4.1
google-pasta==0.1.8
grpcio==1.25.0
gunicorn==19.10.0
h5py==2.10.0
html5lib==1.0.1
idna==2.8
ipaddress==1.0.23
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
lazy-object-proxy==1.4.3
macholib==1.5.1
Markdown==3.1.1
MarkupSafe==1.1.1
matplotlib==1.3.1
mccabe==0.6.1
mock==3.0.5
modulegraph==0.10.4
numpy==1.16.5
oauthlib==3.1.0
opt-einsum==2.3.2
pandas==0.24.2
pexpect==4.7.0
protobuf==3.11.1
psycopg2-binary==2.8.3
ptyprocess==0.6.0
py2app==0.7.3
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycparser==2.19
pylint==1.9.5
pymongo==3.10.0
pyobjc-core==2.5.1
pyobjc-framework-Accounts==2.5.1
pyobjc-framework-AddressBook==2.5.1
pyobjc-framework-AppleScriptKit==2.5.1
pyobjc-framework-AppleScriptObjC==2.5.1
pyobjc-framework-Automator==2.5.1
pyobjc-framework-CFNetwork==2.5.1
pyobjc-framework-Cocoa==2.5.1
pyobjc-framework-Collaboration==2.5.1
pyobjc-framework-CoreData==2.5.1
pyobjc-framework-CoreLocation==2.5.1
pyobjc-framework-CoreText==2.5.1
pyobjc-framework-DictionaryServices==2.5.1
pyobjc-framework-EventKit==2.5.1
pyobjc-framework-ExceptionHandling==2.5.1
pyobjc-framework-FSEvents==2.5.1
pyobjc-framework-InputMethodKit==2.5.1
pyobjc-framework-InstallerPlugins==2.5.1
pyobjc-framework-InstantMessage==2.5.1
pyobjc-framework-LatentSemanticMapping==2.5.1
pyobjc-framework-LaunchServices==2.5.1
pyobjc-framework-Message==2.5.1
pyobjc-framework-OpenDirectory==2.5.1
pyobjc-framework-PreferencePanes==2.5.1
pyobjc-framework-PubSub==2.5.1
pyobjc-framework-QTKit==2.5.1
pyobjc-framework-Quartz==2.5.1
pyobjc-framework-ScreenSaver==2.5.1
pyobjc-framework-ScriptingBridge==2.5.1
pyobjc-framework-SearchKit==2.5.1
pyobjc-framework-ServiceManagement==2.5.1
pyobjc-framework-Social==2.5.1
pyobjc-framework-SyncServices==2.5.1
pyobjc-framework-SystemConfiguration==2.5.1
pyobjc-framework-WebKit==2.5.1
pyOpenSSL==19.0.0
pyparsing==2.0.1
Pyphen==0.9.5
python-dateutil==2.8.1
pytz==2013.7
PyYAML==5.2
requests==2.22.0
requests-oauthlib==1.3.0
rsa==4.0
scipy==0.13.0b1
singledispatch==3.4.0.3
six==1.12.0
soupsieve==1.9.4
SQLAlchemy==1.3.7
submit50==2.4.13
tensorboard==2.0.2
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
tinycss2==0.6.1
tornado==5.1.1
urllib3==1.25.3
vboxapi==1.0
webencodings==0.5.1
Werkzeug==0.15.5
wrapt==1.11.2
xattr==0.6.4
